# Ignore miscellaneous files
cscope.*
*.swp
*.patch
*~
.project
.cproject

# Ignore build directory
build/

# Ignore build products from tools
tools/**/*.o
tools/fip_create/
tools/fiptool/fiptool
tools/fiptool/fiptool.exe
tools/cert_create/src/*.o
tools/cert_create/src/**/*.o
tools/cert_create/cert_create
tools/cert_create/cert_create.exe

# GNU GLOBAL files
GPATH
GRTAGS
GSYMS
GTAGS

#Rust
#Cargo.lock
target/
spath_rust/aarch64-unknown-linux-gnu2.json_test
spath_rust/src/sha1-armv8.o
spath_rust/src/aesv8-armx64.o
spath_rust/src/smc.rs
spath_rust/rustLib.S
bl31/ginseng.c_old.c

#other
.NDSS_changed_files
.NDSS_diff
